
# python compiled files
__pycache__/
.cache
*.ipynb
*.ipynb_checkpoints
*.pyc
*.egg-info
dist
build
.pytest_cache
.ruff_cache

# pip meta data
pip-wheel-metadata

# macOS files
.DS_Store

# IDE settings and files
.idea
.vscode

# Documentation notebooks
!docs/*.ipynb

# The examples folder within docs
docs/examples

# Documentation output
_site/
.jekyll-cache/
_build
_autosummary/

# Output from examples
examples/cp_ct_cq_lut.p
examples/hist.hist
examples/SLSQP.out

# Log files
*.log

# Temp files in convert test
tests/v3_to_v4_convert_test/convert_turbine_v3_to_v4.py
tests/v3_to_v4_convert_test/convert_floris_input_v3_to_v4.py
tests/v3_to_v4_convert_test/gch_v4.yaml
tests/v3_to_v4_convert_test/nrel_5MW_v3_v4.yaml
