
# python compiled files
__pycache__/
.cache
*.ipynb
*.ipynb_checkpoints
*.pyc
*.egg-info
dist
build
.pytest_cache
.ruff_cache

# pip meta data
pip-wheel-metadata

# macOS files
.DS_Store

# IDE settings and files
.idea
.vscode

# Documentation output
_site/
.jekyll-cache/
_build
_autosummary/

# Output from examples
examples/cp_ct_cq_lut.p
examples/hist.hist
examples/SLSQP.out

# Log files
*.log
