repos:
-   repo: https://github.com/timothycrosley/isort
    rev: 5.9.3
    hooks:
        - id: isort
          name: isort
          stages: [commit]

-   repo: https://github.com/psf/black
    rev: 21.9b0
    hooks:
        - id: black
          name: black
          stages: [commit]
          language_version: python3

# TODO: Once, v3 is mostly sorted, I'm going to enable this to do static type checking
# on the library to ensure commits are sound.
# -   repo: https://github.com/pre-commit/mirrors-mypy
#     rev: ""
#     hooks:
#         - id: mypy
#           args: [--no-strict-optional, --ignore-missing-imports]

# TODO: Once, v3 is mostly sorted, I'm going to enable this to do static type checking
# on the library to ensure commits are sound.
# -   repo: https://github.com/pre-commit/mirrors-mypy
#     rev: ""
#     hooks:
#         - id: mypy
#           args: [--no-strict-optional, --ignore-missing-imports]

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-executables-have-shebangs
    -   id: check-json
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: mixed-line-ending
    -   id: pretty-format-json
        args: [--autofix]

-   repo: https://github.com/pycqa/flake8
    rev: '4.0.1'
    hooks:
    -   id: flake8
