
language: python

python:
  - "3.6"

install:
  - pip install -r requirements.txt
  - pip install -e .

script:
  - pytest

deploy:
  provider: pypi
  distributions: sdist bdist_wheel
  user: "__token__"
  password:
    secure: Y0krdcbMNHr+OHaXRgrdYq8LDbvBWK3twbdE0qWf3yAxPKrB3mTM4BtHA0Kme6d5i8shzPwpGyv8L+Gh7S9YXB7A/yIp88CGqS6/v4eshmJti4C2D1S/Eo98D98SrZlMvVqO/5Cc5V2hy3bgFg2jlF6j0YkRwc8EhHrI2MfMIb1hLogaLwNaHZbZzo4C9cMBMR9lGGQ6tnCV14i8N0kWDrbYr/eFxDsVOpgD8Tw/1FtqQc78QNn+3BE4LVBlvSdzio0HcFfth/9LbxLSPzBLtFi+5U70nswFw+cyLQjrSmYm1OCFFqCL4KrFzHF0imSH58WL5dMAfQ9Y/DXdQaC/Mgk0aSFcGi+UKBX6qVsPm8QoiQCJ/TAaKCpCojzgEp28lrYgYc/WqdEJ9HkKedRvyYuvHwonrRJc12IlEWI9xZvAnGuI8OleuN+NboG/heRu3KRc1UgloRhh84eAL/m4Mgz23hs2FYMjYDHrlFVWRfX10gJjNS9nBoHnkqN6nk0ynZi0xFHIyTYXEWQFqEMdgNgO31ZXPjoXVYSQZuvksp2j2oh4nX/zuTvOhn2LN7PQObFXsHWygpIrLsvC+BCoXo/dFgdoQQpDMGr4uC38Ip833gS+eJktZB+B4M3422C0/8owV/Q8q85kyAQPkSgcCEBQUyw44MnRF/gauyZzwjo=
  skip_existing: true
  on:
    tags: true
