<div class="input-container">
    <div class="col-sm-12 pad-bot-20">
        <span class="bold">Modify the fields below to create your FLORIS input file</span>
    </div>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="filename" class="col-sm-3 control-label">Filename</label>
            <div class="input-group col-sm-6 pad-fix">
                <input type="text" id="filename" class="form-control" ng-model="inputs.name">
                <div class="input-group-addon">.json</div>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-3 control-label">Overall File Description</label>
            <div class="col-sm-6">
            <textarea id="description" class="form-control" ng-model="inputs.description" rows="3">
            </textarea>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading panel-heading-custom" role="tab" id="headingOne">
                <h4 class="panel-title" data-toggle="collapse" data-parent="turbine_panel" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Turbine</h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="form-group">
                        <label for="turbine_name" class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-6">
                            <input type="text" id="turbine_name" class="form-control" ng-model="inputs.turbine.name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="turbine_desc" class="col-sm-3 control-label">Description</label>
                        <div class="col-sm-6">
                        <textarea id="turbine_desc" class="form-control" ng-model="inputs.turbine.description" rows="3">
                        </textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="turbine_rotor" class="col-sm-3 control-label">Rotor Diameter</label>
                        <div class="col-sm-6">
                            <input type="number" id="turbine_rotor" class="form-control" ng-model="inputs.turbine.properties.rotor_diameter">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="turbine_hub_height" class="col-sm-3 control-label">Hub Height</label>
                        <div class="col-sm-6">
                            <input type="number" id="turbine_hub_height" class="form-control" ng-model="inputs.turbine.properties.hub_height">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="turbine_blade_count" class="col-sm-3 control-label">Blade Count</label>
                        <div class="col-sm-6">
                            <input type="number" id="turbine_blade_count" class="form-control" ng-model="inputs.turbine.properties.blade_count">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="turbine_pP" class="col-sm-3 control-label">pP</label>
                        <div class="col-sm-6">
                            <input type="number" id="turbine_pP" class="form-control" ng-model="inputs.turbine.properties.pP">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="turbine_pT" class="col-sm-3 control-label">pT</label>
                        <div class="col-sm-6">
                            <input type="number" id="turbine_pT" class="form-control" ng-model="inputs.turbine.properties.pT">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="turbine_generator_efficiency" class="col-sm-3 control-label">Generator Efficiency</label>
                        <div class="col-sm-6">
                            <input type="number" id="turbine_generator_efficiency" class="form-control" ng-model="inputs.turbine.properties.generator_efficiency">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="turbine_eta" class="col-sm-3 control-label">eta</label>
                        <div class="col-sm-6">
                            <input type="number" id="turbine_eta" class="form-control" ng-model="inputs.turbine.properties.eta">
                        </div>
                    </div>
                    <div class="col-sm-9 col-sm-offset-3">
                        <div class="panel-group" id="ptw">
                            <div class="panel panel-default">
                                <div class="panel-heading panel-heading-custom">
                                    <h4 class="panel-title" data-toggle="collapse" data-parent="ptw " data-target="#t_table" aria-expanded="true" aria-controls="t_table">
                                        Power Thrust Table
                                    </h4>
                                </div>
                                <div id="t_table" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="t_table">
                                    <div class="panel-body">
                                        <div class="panel-body">
                                            <div ng-repeat="item in inputs.turbine.properties.power_thrust_table.power">
                                                <div class="form-group">

                                                    <label for="power_$index" class="col-sm-1 control-label">CP</label>
                                                    <div class="col-sm-2">
                                                        <input type="number" id="power_$index" class="form-control" ng-model="inputs.turbine.properties.power_thrust_table.power[$index]">
                                                    </div>
                                                    <label for="thrust_$index" class="col-sm-1 control-label">CT</label>
                                                    <div class="col-sm-2">
                                                        <input type="number" id="thrust_$index" class="form-control" ng-model="inputs.turbine.properties.power_thrust_table.thrust[$index]">
                                                    </div>
                                                    <label for="wind_speed_$index" class="col-sm-2 control-label">Wind Speed</label>
                                                    <div class="col-sm-2">
                                                        <input type="number" id="wind_speed_$index" class="form-control" ng-model="inputs.turbine.properties.power_thrust_table.wind_speed[$index]">
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <button type="button" class="btn btn-default" aria-label="delete" ng-click="removeEntry('pt', $index)">
                                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-sm-offset-5">
                                                <button type="button" class="btn btn-success" ng-click="addEntry()">
                                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Add Entry
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="turbine_blade_pitch" class="col-sm-3 control-label">Blade Pitch</label>
                        <div class="col-sm-6">
                            <input type="number" id="turbine_blade_pitch" class="form-control" ng-model="inputs.turbine.properties.blade_pitch">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="turbine_yaw_angle" class="col-sm-3 control-label">Yaw Angle</label>
                        <div class="col-sm-6">
                            <input type="number" id="turbine_yaw_angle" class="form-control" ng-model="inputs.turbine.properties.yaw_angle">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="turbine_tilt_angle" class="col-sm-3 control-label">Tilt Angle</label>
                        <div class="col-sm-6">
                            <input type="number" id="turbine_tilt_angle" class="form-control" ng-model="inputs.turbine.properties.tilt_angle">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="turbine_TSR" class="col-sm-3 control-label">TSR</label>
                        <div class="col-sm-6">
                            <input type="number" id="turbine_TSR" class="form-control" ng-model="inputs.turbine.properties.TSR">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading panel-heading-custom" role="tab" id="heading2">
                <h4 class="panel-title" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                    Farm
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading3">
                <div class="panel-body">
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="farm_name" class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-6">
                                <input type="text" id="farm_name" class="form-control" ng-model="inputs.farm.name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="farm_desc" class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-6">
                    <textarea id="farm_desc" class="form-control" ng-model="inputs.farm.description" rows="3">
                    </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="farm_wind_speed" class="col-sm-3 control-label">Wind Density</label>
                            <div class="col-sm-6">
                                <input type="number" id="farm_wind_speed" class="form-control" ng-model="inputs.farm.properties.wind_speed">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="farm_wind_direction" class="col-sm-3 control-label">Wind Direction</label>
                            <div class="col-sm-6">
                                <input type="number" id="farm_wind_direction" class="form-control" ng-model="inputs.farm.properties.wind_direction">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="farm_turbulence_intensity" class="col-sm-3 control-label">Turbulence Intensity</label>
                            <div class="col-sm-6">
                                <input type="number" id="farm_turbulence_intensity" class="form-control" ng-model="inputs.farm.properties.turbulence_intensity">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="farm_wind_shear" class="col-sm-3 control-label">Wind Shear</label>
                            <div class="col-sm-6">
                                <input type="number" id="farm_wind_shear" class="form-control" ng-model="inputs.farm.properties.wind_shear">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="farm_wind_veer" class="col-sm-3 control-label">Wind Veer</label>
                            <div class="col-sm-6">
                                <input type="number" id="farm_wind_veer" class="form-control" ng-model="inputs.farm.properties.wind_veer">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="farm_air_density" class="col-sm-3 control-label">Air Density</label>
                            <div class="col-sm-6">
                                <input type="number" id="farm_air_density" class="form-control" ng-model="inputs.farm.properties.air_density">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="farm_wake_combination" class="col-sm-3 control-label">Wake Combination</label>
                            <div class="col-sm-6">
                                <select class="form-control" id="farm_wake_combination" ng-model="inputs.farm.properties.wake_combination" ng-options="item for item in wakeCombinations"></select>
                            </div>
                        </div>

                        <div class="col-sm-9 col-sm-offset-3">

                            <div class="panel panel-default">
                                <div class="panel-heading panel-heading-custom">
                                    <h4 class="panel-title" data-toggle="collapse" data-parent="ptw " data-target="#layout" aria-expanded="true" aria-controls="layout">
                                        Layout
                                    </h4>
                                </div>
                                <div id="layout" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="layout">
                                    <div class="panel-body">
                                        <div class="panel-body">

                                            <div ng-repeat="item in inputs.farm.properties.layout_x">
                                                <div class="form-group">

                                                    <label for="turbine_x_$index" class="col-sm-4 control-label">X</label>
                                                    <div class="col-sm-2">
                                                        <input type="number" id="turbine_x_$index" class="form-control" ng-model="inputs.farm.properties.layout_x[$index]">
                                                    </div>
                                                    <label for="turbine_y_$index" class="col-sm-1 control-label">Y</label>
                                                    <div class="col-sm-2">
                                                        <input type="number" id="turbine_y_$index" class="form-control" ng-model="inputs.farm.properties.layout_y[$index]">
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <button type="button" class="btn btn-default" aria-label="delete" ng-click="removeEntry('turbine', $index)">
                                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-sm-offset-4">
                                                <button type="button" class="btn btn-success" ng-click="addTurbine()">
                                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Add Turbine
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading panel-heading-custom" role="tab" id="heading3">
                <h4 class="panel-title" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                    Wake
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading3">
                <div class="panel-body">
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="wake_name" class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-6">
                                <input type="text" id="wake_name" class="form-control" ng-model="inputs.wake.name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="wake_desc" class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-6">
                    <textarea id="wake_desc" class="form-control" ng-model="inputs.wake.description" rows="3">
                    </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="wake_velocity_model" class="col-sm-3 control-label">Velocity Model</label>
                            <div class="col-sm-6">
                                <select class="form-control" id="wake_velocity_model" ng-model="inputs.wake.properties.velocity_model" ng-options="item for item in velocityModels"></select>
                            </div>
                        </div>
                        <div ng-show="inputs.wake.properties.velocity_model == 'floris'">
                            <div class="form-group pad-top-10 pad-bot-10">
                                <label for="floris" class="col-sm-offset-2 col-sm-3 control-label">Floris Parameters</label>
                            </div>
                            <div class="form-group">
                                <label for="wake_me" class="col-sm-4 control-label">me</label>
                                <div class="col-sm-2">
                                    <input type="number" id="wake_me_1" class="form-control" ng-model="inputs.wake.properties.parameters.floris.me[0]">
                                </div>
                                <div class="col-sm-2">
                                    <input type="number" id="wake_me_2" class="form-control" ng-model="inputs.wake.properties.parameters.floris.me[1]">
                                </div>
                                <div class="col-sm-2">
                                    <input type="number" id="wake_me_2" class="form-control" ng-model="inputs.wake.properties.parameters.floris.me[2]">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="wake_aU" class="col-sm-4 control-label">aU</label>
                                <div class="col-sm-6">
                                    <input type="number" id="wake_aU" class="form-control" ng-model="inputs.wake.properties.parameters.floris.aU">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wake_bU" class="col-sm-4 control-label">bU</label>
                                <div class="col-sm-6">
                                    <input type="number" id="wake_bU" class="form-control" ng-model="inputs.wake.properties.parameters.floris.bU">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wake_mU" class="col-sm-4 control-label">mU</label>
                                <div class="col-sm-2">
                                    <input type="number" id="wake_mU_1" class="form-control" ng-model="inputs.wake.properties.parameters.floris.mU[0]">
                                </div>
                                <div class="col-sm-2">
                                    <input type="number" id="wake_mU_2" class="form-control" ng-model="inputs.wake.properties.parameters.floris.mU[1]">
                                </div>
                                <div class="col-sm-2">
                                    <input type="number" id="wake_mU_2" class="form-control" ng-model="inputs.wake.properties.parameters.floris.mU[2]">
                                </div>
                            </div>
                        </div>
                        <div ng-show="inputs.wake.properties.velocity_model == 'gauss'">
                            <div class="form-group pad-top-10 pad-bot-10">
                                <label for="gauss" class="col-sm-offset-2 col-sm-3 control-label">Gauss Parameters</label>
                            </div>
                            <div class="form-group">
                                <label for="wake_ka" class="col-sm-4 control-label">ka</label>
                                <div class="col-sm-6">
                                    <input type="number" id="wake_ka" class="form-control" ng-model="inputs.wake.properties.parameters.gauss.ka">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wake_kb" class="col-sm-4 control-label">kb</label>
                                <div class="col-sm-6">
                                    <input type="number" id="wake_kb" class="form-control" ng-model="inputs.wake.properties.parameters.gauss.kb">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wake_alpha" class="col-sm-4 control-label">alpha</label>
                                <div class="col-sm-6">
                                    <input type="number" id="wake_alpha" class="form-control" ng-model="inputs.wake.properties.parameters.gauss.alpha">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wake_beta" class="col-sm-4 control-label">beta</label>
                                <div class="col-sm-6">
                                    <input type="number" id="wake_beta" class="form-control" ng-model="inputs.wake.properties.parameters.gauss.beta">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ti_initial" class="col-sm-4 control-label">initial turbulence intensity</label>
                                <div class="col-sm-6">
                                    <input type="number" id="ti_initial" class="form-control" ng-model="inputs.wake.properties.parameters.turbulence_intensity.initial">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ti_constant" class="col-sm-4 control-label">constant turbulence intensity</label>
                                <div class="col-sm-6">
                                    <input type="number" id="ti_constant" class="form-control" ng-model="inputs.wake.properties.parameters.turbulence_intensity.constant">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ti_ai" class="col-sm-4 control-label">ai turbulence intensity</label>
                                <div class="col-sm-6">
                                    <input type="number" id="ti_ai" class="form-control" ng-model="inputs.wake.properties.parameters.turbulence_intensity.ai">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ti_downstream" class="col-sm-4 control-label">downstream turbulence intensity</label>
                                <div class="col-sm-6">
                                    <input type="number" id="ti_downstream" class="form-control" ng-model="inputs.wake.properties.parameters.turbulence_intensity.downstream">
                                </div>
                            </div>
                        </div>
                        <div ng-show="inputs.wake.properties.velocity_model == 'jensen'">
                            <div class="form-group pad-top-10 pad-bot-10">
                                <label for="jensen" class="col-sm-offset-2 col-sm-3 control-label">Jensen Parameters</label>
                            </div>
                            <div class="form-group">
                                <label for="wake_we" class="col-sm-4 control-label">we</label>
                                <div class="col-sm-6">
                                    <input type="number" id="wake_we" class="form-control" ng-model="inputs.wake.properties.parameters.jensen.we">
                                </div>
                            </div>
                        </div>
                        <div class="form-group pad-top-20">
                            <label for="wake_deflection_model" class="col-sm-3 control-label">Deflection Model</label>
                            <div class="col-sm-6">
                                <select class="form-control" id="wake_deflection_model" ng-model="inputs.wake.properties.deflection_model" ng-options="item for item in deflectionModels"></select>
                            </div>
                        </div>
                        <div ng-show="inputs.wake.properties.deflection_model == 'jimenez'">
                            <div class="form-group pad-top-10 pad-bot-10">
                                <label for="jimenez" class="col-sm-offset-2 col-sm-3 control-label">Jimenez Parameters</label>
                            </div>
                            <div class="form-group">
                                <label for="wake_jim_kd" class="col-sm-4 control-label">kd</label>
                                <div class="col-sm-6">
                                    <input type="number" id="wake_jim_kd" class="form-control" ng-model="inputs.wake.properties.parameters.jimenez.kd">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wake_jim_ad" class="col-sm-4 control-label">ad</label>
                                <div class="col-sm-6">
                                    <input type="number" id="wake_jim_ad" class="form-control" ng-model="inputs.wake.properties.parameters.jimenez.ad">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wake_jim_bd" class="col-sm-4 control-label">bd</label>
                                <div class="col-sm-6">
                                    <input type="number" id="wake_jim_bd" class="form-control" ng-model="inputs.wake.properties.parameters.jimenez.bd">
                                </div>
                            </div>
                        </div>
                        <div ng-show="inputs.wake.properties.deflection_model == 'gauss_deflection'">
                            <div class="form-group pad-top-10 pad-bot-10">
                                <label for="gauss" class="col-sm-offset-2 col-sm-3 control-label">Gauss Deflection Parameters</label>
                            </div>
                            <div class="form-group">
                                <label for="wake_deflect_ka" class="col-sm-4 control-label">ka</label>
                                <div class="col-sm-6">
                                    <input type="number" id="wake_deflect_ka" class="form-control" ng-model="inputs.wake.properties.parameters.gauss_deflection.ka">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wake_deflect_kb" class="col-sm-4 control-label">kb</label>
                                <div class="col-sm-6">
                                    <input type="number" id="wake_deflect_kb" class="form-control" ng-model="inputs.wake.properties.parameters.gauss_deflection.kb">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wake_deflect_alpha" class="col-sm-4 control-label">alpha</label>
                                <div class="col-sm-6">
                                    <input type="number" id="wake_deflect_alpha" class="form-control" ng-model="inputs.wake.properties.parameters.gauss_deflection.alpha">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wake_deflect_beta" class="col-sm-4 control-label">beta</label>
                                <div class="col-sm-6">
                                    <input type="number" id="wake_deflect_beta" class="form-control" ng-model="inputs.wake.properties.parameters.gauss_deflection.beta">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-sm-offset-9 pad-top-20 pad-bot-20">
            <button type="button" class="btn btn-success" ng-click="saveFile()">Save Input File</button>
        </div>
    </form>
</div>


<!-- Success Modal -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="success">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-custom">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Success</h4>
            </div>
            <div class="modal-body">
                The file <strong>{{inputs.name}}.json</strong> was successfully created in the <em>inputFiles</em> directory.
            </div>
        </div>
    </div>
</div>

<!-- Error Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="error">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-error">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Error</h4>
            </div>
            <div class="modal-body">
                <span class="bold">An error occurred while generating the input file:</span> <br/> {{error}}
            </div>
        </div>
    </div>


