name: deploy-pages

on:
  push:
    branches:
    - develop
    paths:
    - docs/**

# This job installs dependencies, builds the book, and pushes it to `gh-pages`
jobs:
  deploy-book:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    # Install dependencies
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.13"

    - name: Install dependencies
      run: |
        pip install -e ".[docs]"

    # Make a copy of the examples folder within the docs folder
    - name: Copy examples to docs
      working-directory: ${{runner.workspace}}/floris/
      run: |
        rsync -av examples/ docs/examples
        ls docs/examples

    # Run the script examples/_convert_examples_to_notebooks.py
    - name: Convert examples to notebooks
      working-directory: ${{runner.workspace}}/floris/docs/examples/
      run: |
        # Print the working directory
        pwd

        # Show the contents
        ls

        python _convert_examples_to_notebooks.py

    # Build the book
    - name: Build the book
      working-directory: ${{runner.workspace}}/floris/docs/
      run: |
        jupyter-book build .

    # Push the book's HTML to github-pages
    - name: GitHub Pages action
      uses: peaceiris/actions-gh-pages@v3.6.1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs/_build/html
