name: Code Quality Check

on: [push, pull_request]

jobs:

  code-qa-validation:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.13"]
        os: [ubuntu-latest]
      fail-fast: False

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install project
      run: |
        python -m pip install --upgrade pip
        pip install -e ".[develop]"
    - name: Run the code quality script
      run: |
        cd profiling
        python quality_metrics.py
